/* for get-your-plurks */
.qualifier {	
	color: #F37D17;	
	font-size: 10px;
	background: #E57C43;
	border-bottom: 1px solid #E57C43;
	border-right: 1px solid  #E57C43;
	margin: 0 2px 0 2px;
	padding: 0 3px;
	color: white;	
}

.plurk a, .plurk a:visited {
	color: #000000;
}

.plurk {
	margin: 0px;
	padding: 0px 5px;
}

.get-plurks ul {
	border: 1px solid #E57C43;	
	background: #E57C43;
	margin: 0px;
	padding: 0px;
}

.get-plurks ul li {
	list-style-type: none;	
	margin: 0px;	
	line-height: 16px;
	color: #222222;	
	border-bottom: 1px solid #A8D7FC;
	background: #E3F2FE;
}

.plurk-time {
	color: #AA5555;	
	font-style: italic;		
	font-family: Verdana;
	white-space: nowrap;
	padding-left: 7px;
	width: 150px;
	font-size: 9px;
}

.plurk-detail {
	font-family: Verdana;
	font-size: 10px;
	margin: 1em 0;
	text-align: right;
	border-top: 1px solid #7F7F7F;
	padding: 0.5em 0;	
	color: #000000;		
}

.plurk-detail a, .plurk-detail a:visited {
	color: #000000;
}